{
    Filter = {
        Bundles = (
            "com.apple.BarcodeScanner",
            "com.apple.codescanner",
            "com.apple.ControlCenter",
            "com.apple.springboard",
            "com.apple.camera"
        );
        Executables = (
            "BarcodeScanner",
            "CodeScanner",
            "ControlCenter",
            "SpringBoard",
            "Camera"
        );
    };
}